html, 
body {
	margin: 0;
}

.ui-icon {
	transform: scale(1.2);
}

.ui-checkboxradio-icon {
	margin-right: 5px;
}

.ui-button {
	padding: 5px 10px;
}

#wrapper {
    border: 1.5px solid #999;
    border-radius: 10px;
    margin: 20px auto;
}

nav {
	margin: 20px auto;
    width: 90%;
}

#btnUpload,
#divAccent {
	display: none;
}

#txaAnswer,
#txaQuestion {
	background-position: center;
	background-repeat: no-repeat;
	border: 1.5px solid #999;
    border-radius: 10px;
	display: block;
	margin: 20px auto;
	resize: none;
	text-align: center;
    width: 90%;
}

#divAccent {
	border: 1.5px solid #999;
    border-radius: 10px;
	height: 10%;
	position: fixed;
	text-align: center;
	width: 5%;
}

.highlight {
	color: #DC143C;
}

.tr-clicked {
    background-color: #F0F8FF;
}

.cell-editing input[type=text] {
    background-color: #FFFDD2;  
    border: 0;
    width: 100%;
}

table {
	border-collapse : collapse;
}

.dialog-div {
	display: inline-block;
	margin-bottom: 15px;
	margin-right: 15px;
}

.dialog-table th {
    background-color: #CCC;
}

.dialog-table th,
.dialog-table td {
    border: 1px solid #AAA;
    font-size: 12px;
    height: 25px;
    padding: 3px;
    text-align: center;
    width: 120px;
}

#divAccent, 
#message, 
#txaAnswer,
#txaQuestion,
.btn,
.dialog-div,
.dialog-table,
.ui-checkboxradio-label, 
.ui-selectmenu-text,
.ui-menu-item-wrapper, 
.ui-dialog-title, 
.ui-dialog-buttonset .ui-button {
	font-family: sans-serif, 'Microsoft JhengHei';
}
